<phpunit colors="true">
    <filter>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
    </filter>

    <testsuite name="stringOperations">
        <filter>
            <whitelist processUncoveredFilesFromWhitelist="true">
                <directory suffix=".php">./tests/</directory>
            </whitelist>
        </filter>
    </testsuite>

    <logging>
        <log type="coverage-html" target="tests/report/" charset="UTF-8" yui="false" highlight="false" />
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>